{% extends "index.html" %}
{% load static %}

{% block homecontent %}
  {% include 'common/sidebar.html' %}
  <div class="main-content">
      {% include 'common/navbar.html' %}

      {% if view_type == 'home' %}
          {% include 'landingpage.html' %}

      {% elif view_type == 'car_details' %}
        {% include 'cardetails.html' %}

      {% elif view_type == 'notifications' %}
        {% include 'notification.html' %}

      {% elif view_type == 'profile' %}
        {% include 'userprofile.html' %}
      
      {% elif view_type == 'account' %}
        {% include 'account.html' %}

      {% elif view_type == 'page_not_found' %}
        {% include 'common/notfound.html' %}
        
      {% endif %}
  </div>
{% endblock %}
