{% load static %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">

            <!-- Files -->
            <div class="card" data-toggle="lists"
                data-lists-values="[&quot;name&quot;]">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h3 class="card-header-title">
                                <i class="fe fe-bell mr-3"></i> Notifications
                            </h3>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">

                            <!-- Form -->
                            <form>
                                <div class="input-group input-group-flush
                                    input-group-merge">
                                    <input type="search" class="form-control
                                        form-control-prepended search"
                                        placeholder="Search">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="fe fe-search"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="card-body">

                    <!-- List -->
                    <ul class="list-group list-group-lg list-group-flush list
                        my--4"><li class="list-group-item px-0">

                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <a href="#!" class="avatar avatar-xl">
                                        <img
                                            src="assets/img/avatars/profiles/avatar.jpg"
                                            alt="..."
                                            class="avatar-img rounded">
                                    </a>

                                </div>
                                <div class="col ml--2">

                                    <!-- Title -->
                                    <h4 class="card-title mb-1 name">
                                        <a href="#">Christopher shoo</a>
                                    </h4>



                                    <!-- Text -->
                                    <p class="card-text small text-dark mb-1">
                                        Hi! i am requesting to rent your car
                                    </p>
                                    <!-- Text -->
                                    <p class="text-dark mb-1 small">
                                        <span class="fe fe-phone-call
                                            text-success mr-2"></span>
                                        (+255) 738-223-987
                                    </p>
                                    <!-- Time -->
                                    <p class="card-text small text-muted">
                                        <i class="fe fe-watch mr-1"></i> sent at
                                        sat 17 april 2019
                                    </p>




                                </div>
                                <div class="col-auto">
                                    <span class="badge badge-soft-success"><span
                                            class="fe fe-user-check text-success
                                            mr-2"></span>Accepted</span>
                                    <span class="badge badge-soft-danger"><span
                                            class="fe fe-slash mr-2"></span>Rejected</span>
                                    <span class="badge badge-soft-primary"><span
                                            class="fe fe-loader mr-2"></span>Pending</span>
                                    <!-- Button -->
                                    <a href="#!" class="btn btn-sm btn-dark
                                        d-none
                                        d-md-inline-block">
                                        <span class="fe fe-user-check
                                            text-success mr-2"></span> Accept
                                    </a>
                                    <a href="#!" class="btn btn-sm btn-danger
                                        d-none
                                        d-md-inline-block">
                                        <span class="fe fe-slash mr-2"></span>
                                        Reject
                                    </a>

                                </div>

                            </div> <!-- / .row -->

                        </li>



                    </div> <!-- / .row -->

                </ul>

            </div>
        </div>

    </div>
</div>