{% load static %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 col-md-4">

            <!-- Card -->
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-user text-success mr-2"></span>
                                Full Name
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-dark">
                                {{ user.first_name }} {{ user.last_name}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-sunrise text-success mr-2"></span>
                                Birthday
                            </h5>

                        </div>
                        <div class="col-auto">

                            <time class="small text-dark" datetime="1988-10-24">
                                {{ user.userprofile.date_of_birth }}
                            </time>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-watch text-success mr-2"></span>
                                Joined
                            </h5>

                        </div>
                        <div class="col-auto">

                            <time class="small text-dark" datetime="2018-10-28">
                                {{ user.date_joined }}
                            </time>

                        </div>
                    </div> <!-- / .row -->





                </div>
            </div>



        </div>
        <div class="col-12 col-md-4">

            <!-- Card -->
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-phone-call text-success
                                    mr-2"></span> Mobile contact
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-dark">
                                {{ user.userprofile.mobile_contact }}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-mail text-success mr-2"></span>
                                Email
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-dark">
                                {{ user.email }}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-map-pin text-success mr-2"></span>Location
                            </h5>

                        </div>
                        <div class="col-auto">

                            <time class="small text-dark" datetime="2018-10-28">
                                <small class="text-dark">
                                    {{ user.userprofile.location }}
                                </small>
                            </time>

                        </div>
                    </div> <!-- / .row -->





                </div>
            </div>



        </div>
        <div class="col-12 col-md-4">

            <!-- Card -->
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-bookmark text-success mr-2"></span>
                                Booked cars
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-dark">
                                {{ user.userprofile.booked_cars }} cars
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                <span class="fe fe-tag text-success mr-2"></span>
                                Owns
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-dark">
                                {{ user.userprofile.owned_cars }} cars
                            </small>

                        </div>
                    </div> <!-- / .row -->






                </div>
            </div>



        </div>
    </div>
    <div class="row">
        <div class="col-12">

           

            {% if section_type == 1 %}
                <!-- Files -->
                <div class="card" data-toggle="lists"
                    data-lists-values="[&quot;name&quot;]">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Nav -->
                                <ul class="nav nav-tabs nav-overflow header-tabs">
                                    <li class="nav-item">
                                        <a href="{% url 'user_profile' user.id '0' %}" class="nav-link
                                            pt-0 pb-3">
                                            <span class="fe fe-bookmark mr-2"></span>My
                                            Bookings
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'user_profile' user.id '1' %}" class="nav-link
                                            pt-0 pb-3 active">
                                            <span class="fe fe-compass mr-2"></span>My
                                            Vehicles
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="card-header mt-3">
                        <div class="row">
                            <div class="col-12">

                                <!-- Form -->
                                <form>
                                    <div class="input-group input-group-flush
                                        input-group-merge">
                                        <input type="search" class="form-control
                                            form-control-prepended search"
                                            placeholder="Search">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="fe fe-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="card-body">

                        <!-- List -->
                        <ul class="list-group list-group-lg list-group-flush list
                            my--4">
                            {% for car in user_vehicles %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        <div class="col-auto">

                                            <!-- Avatar -->
                                            <a href="#!" class="avatar avatar-xl">
                                                <img src="{{ media }}{{car.cover_image}}"
                                                    alt="..."
                                                    class="avatar-img rounded">
                                            </a>

                                        </div>
                                        <div class="col ml--2">

                                            <!-- Title -->
                                            <h4 class="card-title mb-1 name">
                                                <a href="{% url 'car_details' car.id %}"> {{ car.name }} </a>
                                            </h4>



                                            <!-- Text -->
                                            <p class="card-text small text-dark mb-1">
                                                {{ car.price }} Tsh per hour
                                            </p>
                                            <!-- Text -->
                                            <p class="card-text small text-dark mb-1">
                                                <span class="fe fe-map-pin
                                                    text-warning"></span>
                                                {{ car.location }}
                                            </p>
                                            <!-- Time -->
                                            <p class="card-text small text-muted">
                                                <span class="fe fe-award text-dark mr-2"></span> registered at {{ car.registered_at }}
                                            </p>




                                        </div>
                                        <div class="col-auto">

                                            <!-- Button -->
                                            <a href="{% url 'car_details' car.id %}" class="btn btn-sm btn-dark
                                                d-none
                                                d-md-inline-block">
                                                <span class="fe fe-eye text-success
                                                    mr-2"></span> See
                                                more
                                            </a>

                                        </div>

                                    </div> 
                                </li>
                            {% endfor %}
                        </div> <!-- / .row -->

                    </ul>

                </div>
            {% else %}
                 <!-- Files -->
                <div class="card" data-toggle="lists"
                    data-lists-values="[&quot;name&quot;]">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Nav -->
                                <ul class="nav nav-tabs nav-overflow header-tabs">
                                    <li class="nav-item">
                                        <a href="{% url 'user_profile' user.id '0' %}" class="nav-link
                                            pt-0 pb-3 active">
                                            <span class="fe fe-bookmark mr-2"></span>My
                                            Bookings
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'user_profile' user.id '1' %}" class="nav-link
                                            pt-0 pb-3">
                                            <span class="fe fe-compass mr-2"></span>My
                                            Vehicles
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="card-header mt-3">
                        <div class="row">
                            <div class="col-12">

                                <!-- Form -->
                                <form>
                                    <div class="input-group input-group-flush
                                        input-group-merge">
                                        <input type="search" class="form-control
                                            form-control-prepended search"
                                            placeholder="Search">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="fe fe-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="card-body">

                        <!-- List -->
                        <ul class="list-group list-group-lg list-group-flush list
                            my--4">
                            {% for booking in user_bookings %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        <div class="col-auto">

                                            <!-- Avatar -->
                                            <a href="#!" class="avatar avatar-xl">
                                                <img src="{{ media }}{{booking.car.cover_image}}"
                                                    alt="..."
                                                    class="avatar-img rounded">
                                            </a>

                                        </div>
                                        <div class="col ml--2">

                                            <!-- Title -->
                                            <h4 class="card-title mb-1 name">
                                                <a href="{% url 'car_details' booking.car.id %}"> {{ booking.car.name }} </a>
                                            </h4>



                                            <!-- Text -->
                                            <p class="card-text small text-dark mb-1">
                                                {{ booking.car.price }} Tsh per hour
                                            </p>
                                            <!-- Text -->
                                            <p class="card-text small text-dark mb-1">
                                                <span class="fe fe-map-pin
                                                    text-warning"></span>
                                                {{ booking.car.location }}
                                            </p>
                                            <!-- Time -->
                                            <p class="card-text small text-muted">
                                                <span class="fe fe-watch text-dark mr-2"></span> booked at {{ booking.booked_at }}
                                            </p>




                                        </div>
                                        <div class="col-auto">

                                            <!-- Button -->
                                            <a href="{% url 'car_details' booking.car.id %}" class="btn btn-sm btn-dark
                                                d-none
                                                d-md-inline-block">
                                                <span class="fe fe-eye text-success
                                                    mr-2"></span> See
                                                more
                                            </a>

                                        </div>

                                    </div> 
                                </li>
                            {% endfor %}
                            {% for history in user_booking_history %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        <div class="col-auto">

                                            <!-- Avatar -->
                                            <a href="#!" class="avatar avatar-xl">
                                                <img src="{{ media }}{{ history.car.cover_image}}"
                                                    alt="..."
                                                    class="avatar-img rounded">
                                            </a>

                                        </div>
                                        <div class="col ml--2">

                                            <!-- Title -->
                                            <h4 class="card-title mb-1 name">
                                                <a href="{% url 'car_details' history.car.id %}"> {{ history.car.name }} </a>
                                            </h4>



                                            <!-- Text -->
                                            <p class="card-text small text-dark mb-1">
                                                {{ history.car.price }} Tsh per hour
                                            </p>
                                            <!-- Text -->
                                            <p class="card-text small text-dark mb-1">
                                                <span class="fe fe-map-pin
                                                    text-warning"></span>
                                                {{ history.car.location }}
                                            </p>
                                            <!-- Time -->
                                            <p class="card-text small text-muted">
                                              <span class="fe fe-watch text-dark mr-2"></span>  booked at {{ history.booked_at }}
                                            </p>




                                        </div>
                                        <div class="col-auto">

                                            {% if history.status == 'canceled' %}
                                                <span class="badge badge-soft-warning"><span
                                                class="fe fe-slash mr-2"></span>Canceled</span>
                                            {% elif history.status == 'rejected'%}
                                                <span class="badge badge-soft-danger"><span
                                                class="fe fe-slash mr-2"></span>Rejected</span>
                                            {% else %}
                                                <span class="badge badge-soft-success"><span
                                                class="fe fe-user-check text-success mr-2"></span>Accepted</span>
                                            {% endif %}

                                        </div>

                                    </div> 
                                </li>
                            {% endfor %}
                        </div> <!-- / .row -->

                    </ul>

                </div>
            {% endif %}
        </div>

    </div>

</div> 