.avatar-xl, .avatar-xxl {
    font-size: 1.70833rem;
    width: 6.125rem;
    height: 6.125rem;
}

.card-dark {
    background: #12263f;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.images-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}